html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.game-over {
  color: white;
  width: 100%;
  text-align: center;
  visibility: hidden;
}

.menu-button {
  font-size: 2rem;
  width: 10%;
  height: 5%;
  background-color: white;
  color: black;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border-radius: 25px;
  padding: 2%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 2%;
  left: 10%;
  z-index: 5;
}
.menu-button:hover {
  background-color: #FF0;
}
.menu-button:active {
  background-color: black;
  color: white;
  text-shadow: 4px 4px #F00, -4px -4px #0F0;
}

.ending-header {
  position: absolute;
  top: 15%;
  z-index: 5;
}

.final-score {
  position: absolute;
  top: 25%;
  z-index: 5;
}

.final-gold {
  position: absolute;
  top: 30%;
  z-index: 5;
}

.final-time {
  position: absolute;
  top: 35%;
  z-index: 5;
}

.final-level {
  position: absolute;
  top: 40%;
  z-index: 5;
}

.ending-retry {
  position: absolute;
  top: 50%;
  z-index: 5;
}

.gui {
  background-color: black;
  width: 100%;
  height: 7.5%;
  position: relative;
  z-index: 5;
}
.gui .gui-border {
  width: 100%;
  height: 100%;
  border-bottom: 2px solid gray;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.gui .gui-border .health-bar {
  background-color: gray;
  padding: 10px;
  gap: 10px;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.gui .gui-border .health-bar .hitpoint {
  background-color: #0F0;
  width: 30px;
  height: 30px;
  border-radius: 15px;
}
.gui .gui-border .level {
  color: white;
  text-shadow: 0px 4px #BBB, 0px 6px #777, 0px 8px #333;
}
.gui .gui-border .score-bar {
  background-color: gray;
  height: 30px;
  padding: 10px;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.gui .gui-border .score-bar .score {
  color: white;
  margin: 0;
}

#game-container {
  width: 100%;
  height: 92.5%;
  display: absolute;
  top: 7.5%;
  left: 0;
}

#player {
  background-color: #0F0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 4;
}

.gold {
  background-color: #FF0;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  visibility: hidden;
}

.power-up {
  background-image: radial-gradient(white, blue);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  visibility: hidden;
}

.power-timer {
  color: white;
  position: absolute;
  top: 90%;
  left: 2.5%;
}

.dupe {
  background-image: radial-gradient(white, blue);
  border-radius: 30%;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  visibility: hidden;
}

.dupeAttack1 {
  width: 25%;
  height: 15%;
  visibility: hidden;
}

.dupeAttack2 {
  width: 10%;
  height: 30%;
  visibility: hidden;
}

.dupeAttack3 {
  width: 20%;
  height: 25%;
  visibility: hidden;
}

.obstacle {
  background-color: #F00;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 1;
}

.box-1 {
  width: 25%;
  height: 15%;
  visibility: hidden;
}

.box-2 {
  width: 10%;
  height: 30%;
  visibility: hidden;
}

.box-3 {
  width: 20%;
  height: 25%;
  visibility: hidden;
}

.line-1 {
  width: 100%;
  height: 10%;
  visibility: hidden;
}

.line-2 {
  width: 100%;
  height: 10%;
  visibility: hidden;
}

.line-3 {
  width: 5%;
  height: 100%;
  visibility: hidden;
}

.line-4 {
  width: 5%;
  height: 100%;
  visibility: hidden;
}

.line-5 {
  width: 100%;
  height: 20%;
  visibility: hidden;
}

.line-6 {
  width: 10%;
  height: 100%;
  visibility: hidden;
}

.circle-1 {
  width: 10%;
  border-radius: 50%;
  visibility: hidden;
}

.circle-2 {
  width: 10%;
  border-radius: 50%;
  visibility: hidden;
}

.circle-3 {
  width: 10%;
  border-radius: 50%;
  visibility: hidden;
}

.circle-4 {
  width: 10%;
  border-radius: 50%;
  visibility: hidden;
}

.circle-5 {
  width: 10%;
  border-radius: 50%;
  visibility: hidden;
}

.circle-6 {
  width: 10%;
  border-radius: 50%;
  visibility: hidden;
}

.circle-7 {
  width: 10%;
  border-radius: 50%;
  visibility: hidden;
}

.circle-8 {
  width: 10%;
  border-radius: 50%;
  visibility: hidden;
}

.circle-9 {
  width: 10%;
  border-radius: 50%;
  visibility: hidden;
}

.circle-10 {
  width: 10%;
  border-radius: 50%;
  visibility: hidden;
}/*# sourceMappingURL=game.css.map */