@import "partials/basic.scss";

.instructions-container {
    width: 50%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-self: center;
    .green-text {color: $green;}
    .yellow-text {color: $yellow;}
    .red-text {color: $red;}
    .underline-red {text-decoration: underline darkred;}
    a {
        font-size: 2rem;
        background-color: white;
        color: black;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        border-radius: 25px;
        margin: 2% 0;
        padding: 2%;
        &:hover {background-color: $yellow;}
        &:active {
            background-color: black;
            color: white;
            text-shadow: 4px 4px $red, -4px -4px $green;
        }
    }
}